// $cl-color:#ff9800;
$cl-color:#2eafed;
.cl-color{color:$cl-color};
.cl-bg-green{background-color:$cl-color}
$cl-c: #ff9800;
$cl-bgc: #ff9800;
.c-666{color:#666;}
.cl-red{color:rgb(229, 28, 35);}
.header {
    height: 2rem;
    // border-bottom: 1px solid #d9d9d9;
    background:rgba(46, 175, 237, .9);
    color:#fff;
}
.header-bg-fff{
    height:2rem;
    background:#fff;
    border-bottom:1px solid #f8f8f8;
}
.header-bg-fff .arrow-back{
    width: 0.4rem;
    height: 0.4rem;
    border-left: 2px solid #2eafed;
    border-top: 2px solid #2eafed;
    transform: rotate(-45deg);
    margin-left: 0.5rem;
}
.header-title{
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: 2rem;
    text-align: center;
}
.header-poa{
    height:2rem;
    position: absolute;
    top:0;
    width:100%;
    z-index:2;
    background:rgba(46, 175, 237, .9);
    color:#fff;
    .arrow-back {
        width: 0.4rem;
        height: 0.4rem;
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        transform: rotate(-45deg);
        margin-left: 0.5rem;
    }
}
.header-poa-white{
    height:2rem;
    position: absolute;
    top:0;
    width:100%;
    z-index:2;
    background:#fff;
    color:#4d4d4d;
    border-bottom:1px solid #d9d9d9;
    .arrow-back {
        width: 0.4rem;
        height: 0.4rem;
        border-left: 2px solid #2eafed;
        border-top: 2px solid #2eafed;
        transform: rotate(-45deg);
        margin-left: 0.5rem;
    }
}

.icon-right {
    width: 0.4rem !important;
    height: 0.4rem !important;
    border-right: 2px solid #adadad;
    border-top: 2px solid #adadad;
    transform: rotate(45deg);
    margin-right: 0.8rem !important;
  }
.blank{
    height:.5rem;
    width:100%;
    display: block;
    background-color:#f2f2f2;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}
.btn{
    background-color:$cl-color;
    color:#fff;
    border-radius:3px;
    font-size:.7rem;
    height:2rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: center;/* Chrome 21+ */
    -ms-flex-pack: center;/* WP IE 10 */
    justify-content: center;/* android 4.4 */
    -webkit-box-align: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-align-items: center;/* Chrome 21+ */
    -ms-flex-align: center;/* WP IE 10 */
    align-items: center;/* android 4.4 */
}
.disable{
    background-color:#c3c3c3;
    color:#fff;
}
.scroll-box{
    width:100%;
    height:100%;
    padding-top:2rem!important;
    position: absolute;
    top:0;
    z-index:1;
}
.scroll-box>div{
    height:100%;
    overflow: scroll;
}
.cl-box{
    padding:.5rem .8rem;
}
.cl-footer{
    height:2rem;
    position: absolute;
    bottom:0;
    z-index:2;
    width:100%;
}
@mixin f{
    display:-webkit-box;/* android 2.1-3.0, ios 3.2-4.3 */
    display:-webkit-flex;/* Chrome 21+ */
    display:-ms-flexbox;/* WP IE 10 */
    display:flex;/* android 4.4 */
}
  /*level*/
@mixin fc{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: center;/* Chrome 21+ */
    -ms-flex-pack: center;/* WP IE 10 */
    justify-content: center;/* android 4.4 */
  }
  /*vertical*/
@mixin fm{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-align-items: center;/* Chrome 21+ */
    -ms-flex-align: center;/* WP IE 10 */
    align-items: center;/* android 4.4 */
  }
@mixin fb{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: space-between;/* Chrome 21+ */
    -ms-flex-pack: justify;/* WP IE 10 */
    justify-content: space-between;/* android 4.4 */
  }
@mixin fw{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
@mixin fcm{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: center;/* Chrome 21+ */
    -ms-flex-pack: center;/* WP IE 10 */
    justify-content: center;/* android 4.4 */
    -webkit-box-align: center;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-align-items: center;/* Chrome 21+ */
    -ms-flex-align: center;/* WP IE 10 */
    align-items: center;/* android 4.4 */
  }
  /*child*/
@mixin i1{
    -webkit-box-flex:1;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-flex:1;/* Chrome 21+ */
    -ms-flex:1;/* WP IE 10 */
    flex:1;/* android 4.4 */
  }
.cl-blank{
    width:100%;
    height:.5rem;
    background-color: #c0e7f9;
}